/* CSS Document */
body {
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #203f5f;
	overflow-x: hidden;
	background-color: #FFF;
	color: #666;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 25px;
	color: #88a943;
}

.btnclr {
	/*background-color: #1273ab; */
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	height: 30px;
	border: none;
	
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 43%, #207cca 43%, #2989d8 50%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(43%,#207cca), color-stop(43%,#207cca), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 43%,#207cca 43%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#207cca 43%,#207cca 43%,#2989d8 50%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 43%,#207cca 43%,#2989d8 50%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#207cca 43%,#207cca 43%,#2989d8 50%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	border-radius: 3px;
}

.btnclr:hover {
	cursor: pointer;
	
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 22%, #207cca 22%, #207cca 27%, #207cca 27%, #207cca 27%, #207cca 33%, #207cca 33%, #2989d8 50%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(22%,#207cca), color-stop(22%,#207cca), color-stop(27%,#207cca), color-stop(27%,#207cca), color-stop(27%,#207cca), color-stop(33%,#207cca), color-stop(33%,#207cca), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 22%,#207cca 22%,#207cca 27%,#207cca 27%,#207cca 27%,#207cca 33%,#207cca 33%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#207cca 22%,#207cca 22%,#207cca 27%,#207cca 27%,#207cca 27%,#207cca 33%,#207cca 33%,#2989d8 50%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 22%,#207cca 22%,#207cca 27%,#207cca 27%,#207cca 27%,#207cca 33%,#207cca 33%,#2989d8 50%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#207cca 22%,#207cca 22%,#207cca 27%,#207cca 27%,#207cca 27%,#207cca 33%,#207cca 33%,#2989d8 50%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.btnclra {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	height: 30px;
	border: none;
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	border-radius: 3px;
}

.btnclra:hover {
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 34%, rgba(14,14,14,1) 98%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,rgba(125,126,125,1)), color-stop(98%,rgba(14,14,14,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 34%,rgba(14,14,14,1) 98%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 34%,rgba(14,14,14,1) 98%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 34%,rgba(14,14,14,1) 98%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 34%,rgba(14,14,14,1) 98%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */	
	cursor: pointer;
}

.text11 {
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
	color: #005399;
	text-decoration: none;
}

.intrl_txt a {
text-decoration: none;
color: #1C50B0;
opacity: 0.8;
}

.intrl_txt a:hover {
	text-decoration: underline;
	cursor: pointer;
	opacity: 0.8;
}

input, textarea {
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #999;
	height: 20px;
}

select {
	border: 1px solid #999;
}

.showms {
	color: #F00;
}